.movieCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  background: #fff;

  &:hover {
    transform: translateY(-5px);
  }
}

.moviePoster {
  width: 100%;
  height: auto;
}

.movieInfo {
  padding: 15px;
}

.movieInfoTitle {
  color: #555;
  font-size: 20px;
  margin: 0 0 10px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.movieDescription {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}